/*Verson Bureau*/

/*Section 01 & 02*/

.main-center{

    max-width: 1340px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 25px 0;
}

/* Section 01 (Hébergement à Marseille)*/

.accom-backgd{
    
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 25px 1%;
    margin: 0;
    width: 66%;
    min-width: 672px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.accom{
    
    width: 100%;
    max-width: 804px;
    display: flex;
    flex-wrap: wrap;
}

.accom_row{
    
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.accom-backgd h2{
    width: 100%;
    max-width: 800px;
    margin: 10px 0;
}

.accom-backgd p{
    width: 100%;
    max-width: 800px;
}

.accom-backgd p a{
    font-weight: bold;
    font-size: 16px;
}

.card{
    display: block;
    width: 245px;
    height: 200px;
    min-width: 214px;
    margin: 15px 2px;
    border: 5px #FFF solid;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: #d9d9d9 2px 2px 12px;
}

.card_img{
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    margin:0;
    height: 115px;
}

.card_infos{
    position: relative;
    width: 100%;
    background-color: #FFF;
    height: 75px;
    border-radius: 0 0 15px 15px;
    padding: 10px 5%;
    margin:0;
}

.card:hover .card_infos{
    background-color: #deebff;
}

.card_infos h3{
    font-size: 16px;
    margin:0px 4px;
}

.card_infos p{
    font-size: 14px;
    margin:4px;
}

.card_stars{
    font-size: 12px;
    margin:4px 10px 8px 4px;
    display: flex;
    position: absolute;
    bottom: 0;
    color: #0065FC;
}

.grey_star{
    color: #d9d9d9;
}

 /* Section 02 (Populaire à marseille)*/

 .pop-backgd{
    
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 25px 1%;
    width: 31.5%;
    min-width: 280px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

 .pop{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pop_title{
    width: 100%;
    max-width: 345px;
    min-width: 255px;
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}

.pop .card{
    display: flex;
    max-width: 343px;
    min-width: 245px;
    height: 144px;
    width: auto;

}

.pop .card_img{
    border-radius: 15px 0 0 15px;
    width: 127px;
    min-width: 105px;
    height: 134px;
}

.pop .card_infos{
    max-width: 206px;
    height: 134px;
    border-radius: 0 15px 15px 0;
    padding: 12px 5%;
 
}

/* --- Verson tablette --- */
@media screen and (max-width: 992px) {

    /*Section 01 & 02*/

    .main-center{
        flex-direction: column-reverse;
        margin: 15px 0;
    }

    /* Section 01 (Hébergement à Marseille)*/

    .accom-backgd{
        background-color: #FFF;
        border-radius: 0px;
        padding: 10px 3%;
        width: 100%;
        max-width: 100%;
        min-width: auto;
        margin: 0;
    }

    .accom-backgd h2{
        max-width: 100%;
    }

    .accom{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .accom_row{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .accom .card{
        min-width: 245px;
        max-width: 345px;
        width: 100%;
    }

    /* Section 02 (Populaire à marseille)*/

    .pop-backgd{
        border-radius: 0px;
        padding: 25px 3%;
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }

    .pop_title{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .pop{
        flex-flow: row nowrap;
        width: 100%;
    }

    .pop .card{
        display: block;
        max-width: 245px;
        min-width: 225px;
        height: 225px;
        width: 245px;
    }
    
    .pop .card_img{
        border-radius: 15px 15px 0 0;
        width: 100%;
        min-width: auto;
        max-width: none;
        height: 120px;
    }
    .pop .card_infos{
        max-width: none;
        height: 95px;
        border-radius: 0 0 15px 15px;
        padding: 12px;
    }

}

/* --- Verson Portable --- */
@media screen and (max-width: 768px) {


    /*Section 01*/
        
    .accom-backgd{
        background-color: #FFF;
        border-radius: 0px;
        padding: 10px 3%;
        width: 100%;
        max-width: 100%;
        min-width: auto;
        margin: 0;
        flex-wrap: wrap;
    }

    .accom{
        flex-flow: column wrap;
    }

    .accom .card{
        min-width: 265px;
    }

    /*Section 02*/

    .pop{
            
        flex-direction: column;
        align-items: center;
    }

    .pop .card{
        display: flex;
        max-width: 343px;
        min-width: 265px;
        height: 144px;
        width: 100%;
    }
    
    .pop .card_img{
        border-radius: 15px 0 0 15px;
        width: 127px;
        min-width: 100px;
        height: 134px;
    }
    .pop .card_infos{
        max-width: 206px;
        height: 134px;
        border-radius: 0 15px 15px 0;
        padding: 12px 5%;
    }

}