/*Verson Bureau*/

/* Pied de page */

.footer-backgd{
    width: 100%;
    margin: 40px auto 0 auto;
    background-color: #F2F2F2;
    padding: 25px 15px;
}

footer{
    width: 100%;
    max-width: 1340px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
}

.f-column{
    width: 33%;
    padding: 15px 0;
}

.f-column_title{
    display: block;
    font-weight: bold;
    
}

.f-column ul{
    margin: 15px 0;
}

.f-column li{
    display: block;
    margin: 10px 0;
}

.f-column li a:hover{
    color: #0065FC;
}

/* --- Verson Portable --- */
@media screen and (max-width: 768px) {

    /* Pied de page */
    
    footer{
        flex-flow: column nowrap;
    }

    .f-column{
        width: 100%;
    }

}