/*Verson Bureau*/

/* Entête */

header{
    width: 100%;
    max-width: 1340px;
    margin: auto;
    margin-bottom: 30px;
}

.logo{
    height: 45px;
}

/* Menu */

.nav-top{
    display: flex; 
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.nav_menu{
    display: flex; 
    align-items: center;
}

.nav_menu li {
    text-align: center;
    vertical-align: middle;
}

.nav_menu li a{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    display: block; 
    margin: 0px 12px;
    padding: 48px 21px 26px 21px;
}

.nav_menu li a:hover{
    border-top: 2px #0065FC solid;
    color: #0065FC;
    padding: 46px 21px 26px 21px;
}


/* --- Verson Portable --- */
@media screen and (max-width: 768px) {

    /* Entète*/

    header{
        margin: 20px 0;
    }

    /* Menu */

    .nav-top{ 
        flex-direction: column;
        align-items:center;
    }

    .nav_menu{
        width: 100%;
    }

    .nav_menu li {
        width: 50%;
        margin: 0;
    }

    .nav_menu li a{
        margin: 0;
        width: 100%;
        padding: 30px 21px 12px 21px;
        border-bottom: 3px #F2F2F2 solid;
    }

    .nav_menu li a:hover{
        border-top: 0;
        border-bottom: 3px #0065FC solid;
        padding: 30px 21px 12px 21px;
    }
}