/*Verson Bureau*/

/*Section 01 & 02*/

.main-center{

    max-width: 1340px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 25px 0;
}

/* Section 01 (Hébergement à Marseille)*/

.heberg-backgd{
    
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 25px 1%;
    margin: 0;
    width: 66%;
    min-width: 670px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.heberg{
    
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.heberg_row{
    
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.heberg-backgd h2{
    width: 100%;
    max-width: 800px;
    margin: 10px 0;
}
.heberg-backgd p{
    width: 100%;
    max-width: 800px;
}
.heberg-backgd p a{
    font-weight: bold;
    font-size: 16px;
}

.card{
    display: block;
    width: 245px;
    height: 200px;
    min-width: 215px;
    margin: 15px 2px;
    border: 5px #FFF solid;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: #d9d9d9 0px 0px 12px;
}

.card_img{
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 11px 11px 0 0;
    width: 100%;
    margin:0;
    height: 115px;
}
.card_infos{
    position: relative;
    width: 100%;
    background-color: #FFF;
    height: 75px;
    border-radius: 0 0 11px 11px;
    padding: 10px;
    margin:0;
}

.card:hover .card_infos{
    background-color: #deebff;
    color: #0065FC;
}

.card_infos h3{
    font-size: 16px;
    margin:0px 4px;
}
.card_infos p{
    font-size: 14px;
    margin:4px;
}

.card_stars{
    font-size: 12px;
    margin:4px 10px 8px 4px;
    display: flex;
    position: absolute;
    bottom: 0;
    color: #0065FC;
}
.grey_star{
    color: #d9d9d9;
 }

 /* Section 02 (Populaire à marseille)*/

 .pop-backgd{
    
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 25px 1%;
    width: 31%;
    min-width: 305px;
    /*max-width: 420px;*/
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}
 .pop{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pop_title{
    width: 100%;
    max-width: 345px;
    min-width: 255px;
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}

.pop .card{
    display: flex;
    max-width: 345px;
    min-width: 255px;
    height: 145px;
    width: auto;

}

.pop .card_img{
    border-radius: 11px 0 0 11px;
    width: 125px;
    min-width: 125px;
    height: 135px;
}
.pop .card_infos{
    max-width: 215px;
    height: 135px;
    border-radius: 0 11px 11px 0;
 
}

/* --- Verson tablette --- */
@media screen and (max-width: 992px) {


    /*SECTION 01*/

    .main-center{
        flex-direction: column-reverse;
    }

    .heberg-backgd{
            
        background-color: #FFF;
        border-radius: 0px;
        padding: 10px 3%;
        width: 100%;
        max-width: 100%;
        min-width: auto;
        margin: 0;
    }

    .heberg-backgd h2{
        max-width: 100%;
    }

    .heberg{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .heberg_row{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .pop-backgd{
        border-radius: 0px;
        padding: 25px 3%;
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }

    .pop_title{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .pop{
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

    .heberg .card{
        min-width: 245px;
        max-width: 345px;
        width: 100%;

        
    }

    .pop .card{
        display: block;
        max-width: 245px;
        min-width: 225px;
        height: 225px;
        width: 245px;
    
    }
    
    .pop .card_img{

        border-radius: 11px 11px 0 0;
        width: 100%;
        min-width:auto;
        max-width: auto;
        height: 120px;
    }
    .pop .card_infos{
        max-width: none;
        height: 95px;
        border-radius: 0 0 11px 11px;
     
    }

}

/* --- Verson Portable --- */
@media screen and (max-width: 768px) {


    /* MAIN*/

    .heberg_button{
        position: relative;
        left: -15px;
        border-radius: 15px 15px;
        height: 50px;
        width: 50px;
    }  
    .heberg_button_hidden01{
        display: inline;
    }

    .heberg_button_hidden02{
        display: none;

    }

    /*Section 01*/
        
    .heberg-backgd{
            
        background-color: #FFF;
        border-radius: 0px;
        padding: 10px 3%;
        width: 100%;
        max-width: 100%;
        min-width: auto;
        margin: 0;
        flex-wrap: wrap;
    }

    .heberg{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .heberg .card{
        min-width: 345px;
    }

    .pop{
            
        flex-direction: column;
        align-items: center;
    }

    .pop .card{
        display: flex;
        max-width: 345px;
        min-width: 345px;
        height: 145px;
        width: auto;
    
    }
    
    .pop .card_img{
        border-radius: 11px 0 0 11px;
        width: 125px;
        min-width: 125px;
        height: 135px;
    }
    .pop .card_infos{
        max-width: 215px;
        height: 135px;
        border-radius: 0 11px 11px 0;
     
    }

}